<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}"><head>
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="google-site-verification" content="d8FqOlyeTt2rtW43rgmHku52lictkYRKWRiBDMMUgYU" />

  <title>{{ if .IsHome }}{{ .Title }}{{ else }}{{ .Site.Title }}{{ end }}</title>
  <meta name="author" content="{{ with .Site.Params.name }}{{ . }}{{ end }}">
  <meta name="description" content="{{ with .Site.Params.description }}{{ . }}{{ end }}">
  {{ .Hugo.Generator }}

  {{ range .Site.Params.custom_css }}
  <link rel="stylesheet" href="{{ "/css/" | relURL }}{{ . }}">
  {{ end }}

  <style>
   @import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
   @import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
   @import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);
   @import url(assets/humorsans.css);
   @import url(assets/remark-twemoji.css);
   @import url(assets/twemoji-awesome.css);
  </style>

</head>

